<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package userid="Common.Logging" version="3.3.1" targetFramework="net45" />
  <package userid="Common.Logging.Core" version="3.3.1" targetFramework="net45" />
  <package userid="MongoDB.Bson" version="2.2.3" targetFramework="net45" />
  <package userid="MongoDB.Driver" version="2.2.3" targetFramework="net45" />
  <package userid="MongoDB.Driver.Core" version="2.2.3" targetFramework="net45" />
  <package userid="Quartz" version="2.4.1" targetFramework="net45" />
  <package userid="RestSharp" version="105.2.3" targetFramework="net45" />
</packages>